<div class="wrapper">

    <nav id="sidebar">
        <div class="logo border">
            <h3>Angular Modules</h3>
        </div>

        <div>
            <div class="d-flex border align-center nav-item-padding">
                <div>
                    <figure class="figure-sidebar">
                        <img class="sidebar-image" src="../../../assets/images/dwayne-the-rock-.jpg" alt="MR.Robot">
                    </figure>
                </div>
                <div class="flex-grow-1">
                    <span class="image-label">The Rock</span>
                    <small>therock@gmail.com</small>
                </div>
            </div>

            <div class="border">
                <ul class="nav">
                    <li>
                        <a routerLink="/resume" routerLinkActive="active">
                           Resume-Form Builder
                        </a>
                    </li>
                    <li>
                        <a routerLink="/user" routerLinkActive="active">
                          User
                        </a>
                    </li>

                    <li>
                        <a routerLink="/Auser" routerLinkActive="active">
                          A-User
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="border">
            <ul>
                <li>
                    <a routerLink="#" routerLinkActive="active">
                    LOGOUT
                  </a>
                </li>
            </ul>
        </div>
    </nav>
</div>