<div class="wrapper">

    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Angular Modules</h3>
        </div>


        <ul class="nav">
            <li>
                <a routerLink="/resume" routerLinkActive="active">
            Resume-Form Builder
          </a>
            </li>
            <li>
                <span class="icon-pencil"></span>
                <a routerLink="/user" routerLinkActive="active">
            User
          </a>
            </li>

            <li>
                <a routerLink="/Auser" routerLinkActive="active">
            A-User
          </a>
            </li>

            <li>
                <a routerLink="#" routerLinkActive="active">
            LOGOUT
          </a>
            </li>
        </ul>

    </nav>
</div>