<div>
    <div class="d-flex justify-right w-100">
        <button type="button" routerLink="/resumeForm">Add Details</button>
    </div>

    <div>
        <div *ngIf="Resumebuilderlist.length">
            <table>
                <thead>
                    <tr>
                        <th>id</th>
                        <th>Name</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>

            </table>
        </div>
    </div>

</div>