@font-face {
    font-family: 'icomoon';
    src: url('fonts/icomoon.eot?5appu3');
    src: url('fonts/icomoon.eot?5appu3#iefix') format('embedded-opentype'), url('fonts/icomoon.ttf?5appu3') format('truetype'), url('fonts/icomoon.woff?5appu3') format('woff'), url('fonts/icomoon.svg?5appu3#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-home2:before {
    content: "\e901";
}

.icon-pencil:before {
    content: "\e905";
}

.icon-file-text2:before {
    content: "\e926";
}

.icon-bell:before {
    content: "\e951";
}

.icon-user:before {
    content: "\e971";
}

.icon-search:before {
    content: "\e986";
}

.icon-cog:before {
    content: "\e994";
}

.icon-magic-wand:before {
    content: "\e997";
}

.icon-stats-dots:before {
    content: "\e99b";
}

.icon-gift:before {
    content: "\e99f";
}

.icon-rocket:before {
    content: "\e9a5";
}

.icon-bin:before {
    content: "\e9ac";
}

.icon-briefcase:before {
    content: "\e9ae";
}

.icon-list:before {
    content: "\e9ba";
}

.icon-menu:before {
    content: "\e9bd";
}

.icon-cloud:before {
    content: "\e9c1";
}

.icon-download3:before {
    content: "\e9c7";
}

.icon-plus:before {
    content: "\ea0a";
}

.icon-minus:before {
    content: "\ea0b";
}

.icon-mail:before {
    content: "\ea83";
}

.icon-google2:before {
    content: "\ea89";
}

.icon-dropbox:before {
    content: "\eaae";
}