.d-flex {
    display: flex;
}

.spacebetween {
    justify-content: space-between;
}

.border-radius {
    border-radius: 8px;
}

.form-control {
    height: 35px;
    width: 250px;
    margin: 0;
    padding-left: 40px;
}

.btn {
    height: 35px;
    width: 120px;
    background-color: #2f55e3;
    color: aliceblue;
}

.searchicon {
    position: absolute;
    top: 10px;
    left: 10px;
}

.form-head {
    position: relative;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}